mixin button(caption)
    button.button(class!=attributes.class) !{caption}

mixin hover-button(caption)
    button.button.hover-button(class!=attributes.class) !{caption}

mixin border-button(caption)
    button.button.border-button(class!=attributes.class) !{caption}

mixin hover-border-button(caption)
    button.button.border-button.hover-border-button(class!=attributes.class) !{caption}

mixin arrow-button(caption)
    button.button.arrow-button(class!=attributes.class) !{caption}

mixin apply-no-border-button(caption)
    button.apply-no-border-button(class!=attributes.class) !{caption}

mixin clear-no-border-button(caption)
    button.clear-no-border-button(class!=attributes.class) !{caption}