mixin rate-button
    div.rate-button
        img(src=require('../images/star_border.svg'))
        img(src=require('../images/star_border.svg'))
        img(src=require('../images/star_border.svg'))
        img(src=require('../images/star_border.svg'))
        img(src=require('../images/star_border.svg'))